*.o
*.a
*.dSYM
*.dylib
*.so
*~
.*.swp

init.c
Makefile
autom4te.cache
libtool

config.log
config.status
configure.lineno
pkgIndex.tcl
*Config.sh

/libjpeg/libjpeg/jconfig.h
/libjpeg/libjpeg/libtool
/libtiff/libtiff/tif_config.h
