*.o
*.a
*.dSYM
*.dylib
*.so
*~
.*.swp

init.c
Makefile
autom4te.cache
libtool

config.log
config.status
configure.lineno
pkgIndex.tcl
*Config.sh

/base/tkimgUuid.h
/compat/libtiff/doc/__pycache__
/libjpeg/libjpeg
/libpng/pnglibconf.h
/libtiff/config
/libtiff/contrib
/libtiff/libtiff
/libtiff/libtiff-4.pc
/libtiff/mkg3states
/libtiff/port
/libtiff/test
/libtiff/tif_fax3sm.c
/libtiff/tools
