*.o
*.a
*.dSYM
*.dylib
*.so

init.c
Makefile

config.log
config.status
pkgIndex.tcl
*Config.sh

libjpeg/tcl/libjpeg/
libtiff/tcl/libtiff/
libtiff/tcl/mkg3states
libtiff/tcl/port/
libtiff/tcl/tif_fax3sm.c

